@model SoftwareProductTesting.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receiver.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sender.FullName)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentContent.Content)
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MessageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
